{% extends "home/home.html" %}

{% block content %}
<div class="row">

    <div class="col-md-12">
        <div class="card  card-plain">
            <div class="card-header">
                <h4 class="card-title"> Transactions</h4>
                <p class="category"> Here is a list of all transactions</p>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="">
                        <thead class=" text-primary">
                        <tr>
                            <th>Date</th>
                            <th>Owner</th>
                            <th>Card</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Actions</th>

                        </tr>
                        </thead>
                        {% for r in records %}
                        <tr>
                            <th>{{ r.date }}</th>
                            <th>{{ r.owner }}</th>
                            <th>{{ r.card }}</th>
                            <th>{{ r.description }}</th>
                            <th>{{ r.category }}</th>
                            {% if r.gain == True %}
                            <th>{{ r.amount }}</th>
                            {% else %}
                            <th>-{{ r.amount }}</th>
                            {% endif %}
                            <th><a href="/xyz" data-toggle="tooltip" data-placement="top" title="Edit"><i class="tim-icons icon-pencil"></i></a>
                                <a href="/xyz" data-toggle="tooltip" data-placement="top" title="Delete"><i class="tim-icons icon-trash-simple"></i></a>
                                <a href="/uploads/{{ r.uuid }}" data-toggle="tooltip" data-placement="top" title="Download"><i class="tim-icons icon-cloud-download-93"></i></a>
                                <a href="/castfood/{{ r.uuid }}" data-toggle="tooltip" data-placement="top" title="Cast Food"><i class="tim-icons icon-chart-pie-36"></i></a></th>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}